.input-div{
    display: flex;
    flex-direction: column;
    width: 473px;
    
    gap: 7px;
     
}
.input-div>input,textarea{
    padding: 10px;
    border-radius: 7px;
    outline: none;
    border: 2px solid #DBEAE8;
    font: normal normal medium 16px/25px Poppins;
letter-spacing: 0px;
color: #0E1824;
font-weight: 600;

    
}
.input-div>input::placeholder,textarea::placeholder{
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #C5C5C5;
}
.input-div>label{
     
    font: normal normal normal 12px/18px Poppins;
letter-spacing: 0px;
color: #262C33;
text-transform: capitalize;
}
.input-div>label>span{
    color: red;
}