.drug_timing_wrapper{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timing_popup{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 379px;
height: 295px;
 
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px -10px 10px #0000000A;
border: 1px solid #E3E3E3;
border-radius: 8px;
    
}
.timing_body{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 40px;
    
    
    
}
.prandial_div{
    display: flex;
    flex-direction: column;
   padding: 0px 25px;
    align-items: center;
    border-right: 2px solid #F6F6F6;
    height: 80px;
}
.prandial_selection_div{
    display: flex;
    gap: 10px;
}
.prandial_div>p{
    
    font: normal normal 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #0E1824;
}
.prandial_selection_div>p{
    font: normal normal medium 14px/21px Poppins;
letter-spacing: 0px;
color: #0E1824;
font-weight: 600;
width: 32px;
height: 40px;
 text-align: center;
 padding-top: 5px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E3E3E3;
border-radius: 8px;
}
