.create_rx_group_bg {
  position: fixed;
  background-color: rgb(0, 0, 0,0.2);
  height: 100%;
  width: 65%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.create_rxgroup_wrapper {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 274px;
  border: 1px solid var(--unnamed-color-e3e3e3);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px -10px 10px #0000000a;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  position: relative;
}
.create_rxgroup_body {
  display: flex;
  flex-direction: column;
   
}
.create_rxgroup_body{
  padding: 15px  20px;

}
.create_rxgroup_body>p{
  font: normal normal 600 16px/25px Poppins;
letter-spacing: 0px;
color: #0E1824;
margin: 0;
margin-top: 10px;
margin-bottom: 10px;

}
.create_rxgroup_body>input{
  width: 592px;
height: 48px;
 
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #DBEAE8;
border-radius: 8px;
outline: none;
padding: 10px 15px;
font-family: "Poppins", sans-serif;
 
font-style: normal;
letter-spacing: 0px;
color: #0E1824;
font-weight: 600;
}
.create_rxgroup_body>input::placeholder{
  font-weight: 400;
}
 
