.drug_footer{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 1px;
    padding: 10px;
    height: 70px;
    gap: 10px;
     
    border-top: 2px solid #E3E3E3;
}
.drug_footer>.save{
    width: 67px;
    height: 40px;
    background: #007965 0% 0% no-repeat padding-box;
    border-radius: 8px;
    outline: none;
    border: none;
    font: normal normal medium 14px/21px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
 position: absolute;
 right: 20px;
font-size: 14px;
font-weight: 550;
}
.cancel{
    position: absolute;
    width: 87px;
height: 40px;
 
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #007965;
border-radius: 8px;
 right: 105px;
font: normal normal medium 14px/21px Poppins;
letter-spacing: 0px;
color: #007965;
text-transform: uppercase;
font-weight: 600;
}